version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/workspace:cached
    command: sleep infinity
    environment:
      - DATABASE_URL=postgresql://postgres:lIqpKHMeJLqsGOmxNJXGqItLfmanPNVB@ballast.proxy.rlwy.net:39098/mambbu
      - PORT=3000
    ports:
      - "3000:3000"